.profile {
  margin-top: 5rem;
  width: 80%;
  margin: 0 auto;
}

.profile_contents {
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 1.5rem;
    span {
      color: #dcbdaf;
    }
  }
  p {
    font-size: 0.9rem;
  }
}
