.tabs {
  margin-top: 3rem;
  padding: 0 8%;

  .MuiPaper-elevation1 {
    box-shadow: none;
    border-bottom: 1px solid #d8c8ae;
  }

  .MuiTab-textColorSecondary.Mui-selected {
    color: #dcbdaf;
  }
  .PrivateTabIndicator-colorSecondary-4 {
    background-color: #dcbdaf;
  }
  .MuiBox-root {
    padding: 3rem 0;
    text-align: left;
  }
  img {
    transition: all 0.5s ease;
  }
  img:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

  .cording {
    .cording_item {
      display: flex;
      padding: 2rem;
      border-bottom: 1px solid #ced1d9;

      .cording_item_left {
        width: 40%;
      }
      img {
        width: 100%;
      }
    }
    .cording_item_right {
      text-align: left;
      margin-left: 2rem;
      width: 60%;
      .MuiButton-containedPrimary {
        width: 70%;
        height: 3rem;
        margin: 2rem 15%;
        border-radius: 50px;
        background-image: linear-gradient(
          -20deg,
          #ddd6f3 0%,
          #faaca8 100%,
          #faaca8 100%
        );
      }
    }
    .bold {
      font-size: 1rem;
      font-weight: 900;
      background: linear-gradient(transparent 70%, #ecd6a5 0%);
      width: auto;
      letter-spacing: 1.5px;
    }
  }

  .design img {
    width: 230px;
    border-radius: 10px;
    margin: 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  .tabs {
    width: 100%;
    padding: 0;

    .MuiBox-root {
      padding: 1.5rem 0;
      text-align: left;
    }
    .cording {
      .cording_item {
        display: block;
        padding: 0.5rem;

        .cording_item_left {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
      .cording_item_right {
        text-align: left;
        margin-left: 0;
        width: auto;
      }
    }
  }
}
