@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  color: #626262;
}

p {
  font-size: 0.83rem;
  line-height: 22px;
  margin: 0;
}

a {
  color: #626262;
}

h1.pageTitle {
  color: #dcbdaf;
}
hr {
  width: 5%;
  color: #d8c8ae;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
}

.leftContents {
  width: 500px;
  position: fixed;
}

.rightContents {
  flex: 1;
  margin: 3rem 0 0 500px;
}
.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .leftContents {
    width: 100%;
    position: static;
  }
  .rightContents {
    width: 90%;
    margin: 3rem auto 5rem;
  }
  .sp {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
